<section class="jumbotron-wrap">
  <div class="jumbotron">
    <div class="jumbotron-top">
      <div class="top__left">
        <h1 class="jumbotron__title">Welcom to <br> city of pokemons</h1>
        <p class="jumbotron__text">Find your favorite Pokemon and click on it. You will discover an incredible information about Pokemon.</p>
        <div class="jumbotron__arrow">
          <p class="arrow__text">Click on arrow</p>
          <div class="arrow__sign" routerLink="/list">
            <i class="fas fa-arrow-down"></i>
          </div>
        </div>
      </div>
      <div class="jumbotron__img">
        <img [src]="main" alt="pokemons">
      </div>
    </div>
  </div>
</section>
